@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color:#DDC2AB;
  --second-color:#D39C80;
  --second-color-light:#DDC2AB;
  --dark-colour:#353431;
  --text-color:#667085;
  --text-2-color:#C5C4C3;
  --light-color:#f8f2EE;
  --color-active:#db794a;
  --transition: 0.4s all ease;
  --color-light-2:#F1E6DD
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;
}




body {
  font-family: "Poppins", sans-serif;
}

.font-2 {
  font-family: "Kaushan Script", cursive;
}

@layer {
  .container {
    padding: 0 60px;
    margin:  auto;
  
  }
}

@media (max-width:576px) {
  .container {
    padding: 0 25px;
  }
  
}



@media (max-width:300px) {
  .container {
    padding: 0 20px;
  }
}
